<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Foglight OnDemand</title>
<link rel="stylesheet" href="../inc/styles/home.min.css"/>
<script type="text/javascript" src="../inc/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../inc/js/jquery-plugin.min.js"></script> 
<script type="text/javascript" src="../inc/js/foglight-on-demand.min.js"></script>
<script type="text/javascript" src="../inc/js/validation.min.js"></script> 
</head>

<body>
<div class="wrapper bg-noise-point">
	 <!--[if lte IE 7]>
			<div class="pop-layer" id='oldBrowserInfo' style='display:block;'>
				<a href="#" class="close-layer-img"  _span="close" title="Close" onClick="$(this).parent().remove();">Close</a>
				<h3 class="layer-title">Browser Not Support</h3>
				<div class='layer-content-wrapper'>
					<p>We're sorry, but the browser you're using is not supported.</p>
					<p>Please change to another standard browser, or some functionality may not work properly or at all.</p>
				</div>
			</div>	
			<script type="text/javascript">
				popLayerAlignedCenter('oldBrowserInfo');
				$(window).resize(function(){
					popLayerAlignedCenter('oldBrowserInfo');
				});
			</script>	
	<![endif]--> 
	<header>
	    <div class="header-container" id="headerContainer">
		    <a href="index.html" title="Foglight OnDemand"><img src="../inc/img/logo-foglight.png" alt="Foglight OnDemand"></a>
        </div>	<!--end of header-container -->
	</header>
    
	<nav>
    	<div class="nav-container">
			<ul id="navigate" class="site-nav cf">
				<li id="home" class="active"><a href="/content/en/index.html">Home</a></li>
				<li id="prodNav" class="prod-nav">
					<a href="#">Products<span class="prod-nav-status"></span></a>
					<div class="prod-nav-container">
						<div class="prod-nav-layer"></div>
			        	<ul class="prod-nav-list">
			        		<li class="prod-cam">
			        			<a href="/content/en/solutions/azure-application-performance.html">
				        			<span class="bg"></span>
				        			<span class="bg-hover"></span>
			        				<span>Azure Application Performance</span>
			        			</a>
		        			</li>
			        		<li class="prod-ccm">
			        			<a href="/content/en/solutions/cost-manager-for-azure.html">
			        				<span class="bg"></span>
				        			<span class="bg-hover"></span>
			        				<span>Cost Manager for Azure</span>
			        			</a>
			        		</li>
			        		<li class="prod-website">
			        			<a href="/content/en/solutions/web-site-availability.html">
			        				<span class="bg"></span>
				        			<span class="bg-hover"></span>
				        			<span>Web Site Availability</span>
				        		</a>
			        		</li>
			        		<li class="prod-other">
			        			<a href="http://www.foglight.com" target="_blank">
			        				<span class="bg"></span>
				        			<span class="bg-hover"></span>
			        				<span>Other Foglight Solutions</span>
			        			</a>
			        		</li>
						</ul>
					</div>
		        </li>
				<li id="support"><a href="/dme/contactUs/showSupport">Support</a></li>
				<li id="community"><a href="http://communities.quest.com/community/foglight-on-demand" target="_blank">Community</a></li>
				<li id="awards"><a href="/content/en/awards.html">Awards</a></li>
				<li id="buzz"><a href="/content/en/buzz.html">Buzz</a></li>
			</ul>
        </div>
	</nav><!--end of navigation-->

	<div class="body cf">

		<div id="banner">
			<div id="banner-solutions">
				<ul class="cf">
					<li class="solution1 solution">
						<div class="solution-content">
							<h2><img src="../inc/img/home/banner/banner-title.png" width="0" height="1" alt="Azure Application Performance"/></h2>
							<ul class="solution-scenarios">
								<li class="scenario1" _scenario="solutions/azure-application-performance.html#scenario=cam-end-user-scenario">
									<span class="desc1">End user</span><span class="desc2">Qos</span>
								</li>
								<li class="scenario2" _scenario="solutions/azure-application-performance.html#scenario=cam-infrastructure-scenario">
									<span class="desc1">Azure</span><span class="desc2">Component</span>
									<span class="desc3">Infrastructure</span></li>
								<li class="scenario3" _scenario="solutions/azure-application-performance.html#scenario=cam-core-resources-scenario">
									<span class="desc1">Core</span><span class="desc2">Resources</span>
								</li>
								<li class="scenario4" _scenario="solutions/azure-application-performance.html#scenario=cam-database-scenario">
									<span class="desc1">Azure</span><span class="desc2">Database</span>
								</li>
								<li class="scenario5" _scenario="solutions/azure-application-performance.html#scenario=cam-win8-scenario">
									<span class="desc1">Win8</span><span class="desc2">Win8 Mobile</span><span class="desc3">Alert</span>
								</li>
							</ul>
							<div class="learn-more">
								<a href="solutions/azure-application-performance.html" class="promoBtn">Learn More</a>
							</div>
						</div>
					</li>
					<li class="solution2 solution">
						<div class="solution-content">
							<h2><img src="../inc/img/home/banner/banner-title.png" width="0" height="1"alt="Cost Manager for Azure"/></h2>
							<ul class="solution-scenarios">
								<li class="scenario1" _scenario="solutions/cost-manager-for-azure.html#scenario=ccm-cost-control-scenario">
									<span class="desc1">Cost<br/>Control</span>
								</li>
								<li class="scenario2" _scenario="solutions/cost-manager-for-azure.html#scenario=ccm-reporting-scenario">
									<span class="desc1">Reporting</span>
								</li>
								<li class="scenario3" _scenario="solutions/cost-manager-for-azure.html#scenario=ccm-budget-advisories-scenario">
									<span class="desc1">Budget</span><span class="desc2">Advisories</span>
								</li>
							</ul>
							<div class="learn-more">
								<a href="solutions/cost-manager-for-azure.html" class="promoBtn">Learn More</a>
							</div>
						</div>
					</li>
					<li class="solution3 solution">
						<div class="solution-content">
							<h2><img src="../inc/img/home/banner/banner-title.png" width="0" height="1" alt="Web Site Availability"/></h2>
							<ul class="solution-scenarios">
								<li class="no-scenario">
									<span class="desc1">Daily uptime</span>
									<span class="desc2">Report</span>
								</li>
								<li class="no-scenario">
									<span class="desc3">Availability</span>
									<span class="desc4">visualization</span>
								</li>
								<li class="no-scenario">
									<span class="desc6">Real User</span>
									<span class="desc7">Monitoring</span>
								</li>
								<li class="scenario1" _scenario="solutions/web-site-availability.html#scenario=web-site-availability-scenario">
									<span class="desc5">Peace of<br/>mind</span>
								</li>
							</ul>
							<div class="learn-more">
								<a href="solutions/web-site-availability.html" class="promoBtn">Learn More</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<ul id="banner-solution-nav" class="cf">
				<li class="selected" id="CAM"></li>
				<li id="CCM"></li>
				<li id="WebMonitor"></li>
			</ul>
		</div>

		<div class="content">
			<div class="content-container cf">

				<div id="ourCustomers" class="our-customers cf">
					<div class="our-customers-layer"></div>
					<h2 class="our-customers-title">Our Customers</h2>
					<div class="our-customers-content">
						<button class="our-customers-prev-list"><span class="arrow-left arrow"></span></button>
						<div class="our-customers-list">
							<ul>
								<li><a class="globalenglish" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-globalenglish.html');" href="http://www.globalenglish.com" target="_blank"></a></li>
								<li><a class="foodserve" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-foodserve.html');" href="http://www.foodserve.com" target="_blank"></a></li>
								<li><a class="myschoolaccount" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-myschoolaccount.html');" href="http://ww2.myschoolaccount.com" target="_blank"></a></li>
								<li><a class="lingo-jingo" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-lingo-jingo.html');" href="http://www.lingo-jingo.com" target="_blank"></a></li>
								<li><a class="ariane" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-ariane.html');" href="http://www.ariane.com/en/index.html" target="_blank"></a></li>
								<li><a class="meridix" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-meridix.html');" href="http://www.meridix.se" target="_blank"></a></li>
								<li><a class="suncoastfcu" onclick="googleAnalyticsTrackPageview('/content/en/index-customer-suncoastfcu.html');" href="http://www.suncoastfcu.org" target="_blank"></a></li>
							</ul>
						</div>
						<button class="our-customers-next-list"><span class="arrow-right arrow"></span></button>
					</div>
				</div>
				<!--end of our-customers-->
				
				<a href="/content/en/awards.html" class="awards">
					<span class="awards-title">Awards</span>
				</a>
				
			</div>
		</div>
		<!--end of content-->
		
		<div class="content-push"></div>
	</div>
	<!--end of body-->

</div><!--end of wrapper-->

<footer>
	<div class="category">
        <div class="category-container cf">
	   		<dl class="follow-us-list">
		    		<dt>Follow Us</dt>
		    		<dd><a href="https://www.facebook.com/QuestFoglight" target="_blank" alt="Facebook" class="go-facebook-img"></a></dd>
		    		<dd><a href="https://twitter.com/foglight" target="_blank" alt="Twitter" class="go-twitter-img"></a></dd>
	        </dl>
            <dl>
            	<dt>Documents</dt>
            	<dd><a href="doc-lib.html?whitePapers">White Papers</a></dd>
            	<dd><a href="doc-lib.html?datasheets">Datasheets</a></dd>
            </dl>
	    	<dl>
	    		<dt>Legal</dt>
	    		<dd><a href="tou.html">Terms of Use</a></dd>
	    		<dd><a href="privacy.html">Privacy Policy</a></dd>
	    		<dd><a href="cookie-policy.html">Cookie Policy</a></dd>
	    	</dl>
	        <dl>
	    		<dt>Contact us</dt>
	    		<dd><a href="/dme/contactUs/index?approach=contactInformation">Contact Information</a></dd>
	    		<dd><a href="/dme/contactUs/index?approach=sendFeedback">Send us feedback</a></dd>
	    	</dl>
		</div>	<!--end of category container-->
    </div>	<!--end of category-->
        
    <div class="legal">
        <span>&copy; 2013 Dell</span> 
        <a href="http://content.dell.com/us/en/corp/about-dell.aspx?c=us&l=en&s=corp" target="_blank">About Dell</a>
         <a href="http://content.dell.com/us/en/gen/d/solutions/ads-and-emails.aspx" target="_blank">Ads and Emails</a> 
    </div>	<!--end of footer-legal-->
   
</footer>

<div class="floating-sidebar">
	<div class="livechat">
    	<a href="">Live Chat</a>
    	<div class="expanded" id="liveChat"></div>
    </div>
    <div class="community">
    	<a href="">Join Our Community</a>
	    <div class="expanded"><a href="http://communities.quest.com/community/foglight-on-demand" target="_blank">Community</a></div>
    </div>
    <div class="shareThis">
    	<a href="">Share This</a>
    	<div class="expanded">
        	 <span class='st_facebook' displayText='' title="Facebook"></span> 
             <span class='st_twitter' displayText='' title="Twitter"></span> 
             <span class='st_linkedin' displayText='' title="LinkedIn"></span> 
             <span class='st_email' displayText='' title='Email'></span>
        </div>
    </div>
</div>

<script type="text/javascript">
var Comm100API;
var application = new Application({lang:'en'});
var switchTo5x=true;
var externalOAuth2Login = new ExternalOAuth2Login();
var _gaq = _gaq || [];

$(function(){
	_gaq.push(['_setAccount', application.getGoogleAnalyticsTrackingId()]);
	_gaq.push(['_setDomainName', application.getGoogleAnalyticsTrackingDomain()]);
	_gaq.push(['_trackPageview']);
	var quickLogin = new QuickLogin({container:$(".header-container")});
	quickLogin.append(function(loggedInUserInfo){
		if(loggedInUserInfo) {
			_gaq.push(["_setCustomVar", 1, "UserName", loggedInUserInfo.userName, 2]);
		}
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www' ) + '.google-analytics.com/ga.js';
		
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	});
	
	//banner
  	var banner = new Banner();
    banner.init();
   
    //load live chat
    $('.livechat').hover(function(){
    	 Comm100API = writeLiveChat();
	});
	//load share this js
	$('.shareThis').hover(function(){
		if(!$.trim($('.stButton').html())){
			loadScript("http://w.sharethis.com/button/buttons.js",true,function(){stLight.options({publisher: "36390e37-7a7d-4fef-992c-62b1a2bb8c8d"});});
		}
	});
});
</script>

</body>
</html>