<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Foglight OnDemand</title>
<link rel="stylesheet" href="../inc/styles/fod.min.css"/>
<link rel="stylesheet" href="../inc/styles/awards.css" />
<script type="text/javascript" src="../inc/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="../inc/js/jquery-plugin.min.js"></script> 
<script type="text/javascript" src="../inc/js/foglight-on-demand.min.js"></script>
<script type="text/javascript" src="../inc/js/validation.min.js"></script> 
</head>

<body>
<div class="wrapper">
<!--[if lte IE 7]>
			<div class="pop-layer" id='oldBrowserInfo' style='display:block;'>
				<a href="#" class="close-layer-img"  _span="close" title="Close" onClick="$(this).parent().remove();">Close</a>
				<h3 class="layer-title">Browser Not Support</h3>
				<div class='layer-content-wrapper'>
					<p>We're sorry, but the browser you're using is not supported.</p>
					<p>Please change to another standard browser, or some functionality may not work properly or at all.</p>
				</div>
			</div>	
			<script type="text/javascript">
				popLayerAlignedCenter('oldBrowserInfo');
				$(window).resize(function(){
					popLayerAlignedCenter('oldBrowserInfo');
				});
			</script>	
	<![endif]--> 
	<header>
	    <div class="header-container" id="headerContainer">
		    <a href="index.html" title="Foglight OnDemand"><img src="../inc/img/logo-foglight.png" alt="Foglight OnDemand"></a>
		    
        </div>	<!--end of header-container -->
	</header>

	<nav>
    	<div class="nav-container">
			<ul id="navigate" class="site-nav cf">
				<li id="home"><a href="/content/en/index.html">Home</a></li>
				<li id="prodNav" class="prod-nav">
					<a href="#">Products<span class="prod-nav-status"></span></a>
					<div class="prod-nav-container">
						<div class="prod-nav-layer"></div>
			        	<ul class="prod-nav-list">
			        		<li class="prod-cam">
			        			<a href="/content/en/solutions/azure-application-performance.html">
				        			<span class="bg"></span>
				        			<span class="bg-hover"></span>
			        				<span>Azure Application Performance</span>
			        			</a>
		        			</li>
			        		<li class="prod-ccm">
			        			<a href="/content/en/solutions/cost-manager-for-azure.html">
			        				<span class="bg"></span>
				        			<span class="bg-hover"></span>
			        				<span>Cost Manager for Azure</span>
			        			</a>
			        		</li>
			        		<li class="prod-website">
			        			<a href="/content/en/solutions/web-site-availability.html">
			        				<span class="bg"></span>
				        			<span class="bg-hover"></span>
				        			<span>Web Site Availability</span>
				        		</a>
			        		</li>
			        		<li class="prod-other">
			        			<a href="http://www.foglight.com" target="_blank">
			        				<span class="bg"></span>
				        			<span class="bg-hover"></span>
			        				<span>Other Foglight Solutions</span>
			        			</a>
			        		</li>
						</ul>
					</div>
		        </li>
				<li id="support"><a href="/dme/contactUs/showSupport">Support</a></li>
				<li id="community"><a href="http://communities.quest.com/community/foglight-on-demand" target="_blank">Community</a></li>
				<li id="awards" class="active"><a href="/content/en/awards.html">Awards</a></li>
				<li id="buzz"><a href="/content/en/buzz.html">Buzz</a></li>
			</ul>
        </div>
	</nav><!--end of navigation-->

	<div class="body cf">
		<div class="title">
        	<div class="title-container"><h1 class="page-title">Awards</h1></div>
        </div>
		<div class="content  bg-grid">
			<div class="content-container">
				<ul class="boards">
					<li>
						<ul class="awards cf">
							<li>
								<p>Foglight for Windows Azure Applications won <span class="hightlight">the Silver award</span> in the monitoring and testing category from Network Products Guide.</p>
								<p class="more"><a href="http://www.networkproductsguide.com/world/index.html" target="_blank">Read More</a></p>
								<a href="http://www.networkproductsguide.com/world/index.html" target="_blank"><img src="../inc/img/awards/award_productGuide.png?version=131" alt="the Silver award" /></a>
							</li>
							<li>
								<p class="description">	Foglight for Windows Azure Applications has been named a finalist in the 2013 American Business Awards (The Stevies) for <span class="hightlight">Best new product or service of the year</span> – software – cloud application / service</p>
								<p class="more"><a href="http://www.stevieawards.com/pubs/awards/403_2662_22390.cfm" target="_blank">Read More</a></p>
								<a href="http://www.stevieawards.com/pubs/awards/403_2662_22390.cfm" target="_blank"><img src="../inc/img/awards/award_stevies.png?version=131" alt="Best new product or service of the year" /></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div><!--end of body-->
</div><!--end of wrapper-->

<footer>
	<div class="category">
        <div class="category-container cf">
	   		<dl class="follow-us-list">
	    		<dt>Follow Us</dt>
	    		<dd><a href="https://www.facebook.com/QuestFoglight" target="_blank" alt="Facebook" class="go-facebook-img"></a></dd>
	    		<dd><a href="https://twitter.com/foglight" target="_blank" alt="Twitter" class="go-twitter-img"></a></dd>
	        </dl>
            <dl>
            	<dt>Documents</dt>
            	<dd><a href="doc-lib.html?whitePapers">White Papers</a></dd>
            	<dd><a href="doc-lib.html?datasheets">Datasheets</a></dd>
            </dl>
	    	<dl>
	    		<dt>Legal</dt>
	    		<dd><a href="tou.html">Terms of Use</a></dd>
	    		<dd><a href="privacy.html">Privacy Policy</a></dd>
	    		<dd><a href="cookie-policy.html">Cookie Policy</a></dd>
	    	</dl>
	        <dl>
	    		<dt>Contact us</dt>
	    		<dd><a href="/dme/contactUs/index?approach=contactInformation">Contact Information</a></dd>
	    		<dd><a href="/dme/contactUs/index?approach=sendFeedback">Send us feedback</a></dd>
	    	</dl>
		</div>	<!--end of category container-->
    </div>	<!--end of category-->
        
    <div class="legal">
        <span>&copy; 2013 Dell</span> 
        <a href="http://content.dell.com/us/en/corp/about-dell.aspx?c=us&l=en&s=corp" target="_blank">About Dell</a>
        <a href="http://content.dell.com/us/en/gen/d/solutions/ads-and-emails.aspx" target="_blank">Ads and Emails</a> 
    </div>	<!--end of footer-legal-->
   
</footer>

<div class="floating-sidebar">
	<div class="livechat">
    	<a href="">Live Chat</a>
    	<div class="expanded" id="liveChat"></div>
    </div>
    <div class="community">
    	<a href="">Join Our Community</a>
	    <div class="expanded"><a href="http://communities.quest.com/community/foglight-on-demand" target="_blank">Community</a></div>
    </div>
    <div class="shareThis">
    	<a href="">Share This</a>
    	<div class="expanded">
        	 <span class='st_facebook' displayText='' title="Facebook"></span> 
             <span class='st_twitter' displayText='' title="Twitter"></span> 
             <span class='st_linkedin' displayText='' title="LinkedIn"></span> 
             <span class='st_email' displayText='' title='Email'></span>
        </div>
    </div>
</div>

<script type="text/javascript">
var Comm100API;
var application = new Application({lang:'en'});
var externalOAuth2Login = new ExternalOAuth2Login();
var switchTo5x=true;	
$(function(){
	highlightMenuItem('awards');
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', application.getGoogleAnalyticsTrackingId()]);
	_gaq.push(['_setDomainName', application.getGoogleAnalyticsTrackingDomain()]);
	_gaq.push(['_trackPageview']);

	var quickLogin = new QuickLogin({container:$(".header-container")});
	quickLogin.append(function(loggedInUserInfo){
		if(loggedInUserInfo) {
			_gaq.push(["_setCustomVar", 1, "UserName", loggedInUserInfo.userName, 2]);
		}
		var ga = document.createElement('script'); 
		ga.type = 'text/javascript'; 
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www' ) + '.google-analytics.com/ga.js';
		
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	});
	

	 //load live chat
    $('.livechat').hover(function(){
    	 Comm100API = writeLiveChat();
	});
	//load share this js
	$('.shareThis').hover(function(){
		if(!$.trim($('.stButton').html())){
			loadScript("http://w.sharethis.com/button/buttons.js",true,function(){stLight.options({publisher: "36390e37-7a7d-4fef-992c-62b1a2bb8c8d"});});
		}
	});
});
</script>

</body>
</html>
